// 
// utilities.scss
// Extended from Bootstrap
// 

$utilities: ();
$utilities: map-merge(
  (
    // Width pixels
    "width-px": (
      property: width,
      class: w,
      values: (
        20px: 20px,
        30px: 30px,
        40px: 40px,
        50px: 50px,
        60px: 60px,
        70px: 70px,
        80px: 80px,
        90px: 90px,
        100px: 100px,
        150px: 150px,
        200px: 200px,
        300px: 300px,
        400px: 400px
      )
    ),
    // height

    // Height pixels
    "height-px": (
      property: height,
      class: h,
      values: (
        20px: 20px,
        30px: 30px,
        40px: 40px,
        50px: 50px,
        60px: 60px,
        70px: 70px,
        80px: 80px,
        90px: 90px,
        100px: 100px,
        150px: 150px,
        200px: 200px,
        300px: 300px,
        400px: 400px,
      )
    ),
    
    // Fill color for SVG
    "fill-color": (
    property: fill,
    class: fill,
    values: map-merge($theme-colors, 
      (
        "white": $white
        )
      )
    ),

    // Z index
    "z-index": (
      property: z-index,
      class: z-index,
      values: (
        0: 0,
        1: 1,
        9: 9,
        99: 99,
        n9: -9
      )
    ),

    // Opacity
    "opacity": (
      property: opacity,
      class: opacity,
      values: (
        0: 0,
        1: 0.1,
        2: 0.2,
        3: 0.3,
        4: 0.4,
        5: 0.5,
        6: 0.6,
        7: 0.7,
        8: 0.8,
        9: 0.9
      )
    ),

    // Blur
    "blur": (
    property: filter,
    class: blur,
    values: (
        1: blur(0.2rem),
        2: blur(0.4rem),
        3: blur(0.6rem),
        4: blur(0.8rem),
        5: blur(1rem),
        6: blur(1.2rem),
        7: blur(2rem),
        8: blur(5rem),
        9: blur(9rem)
      )
    ),

    // Border dashed
    "border-dashed": (
      property: border-style,
      class: border-dashed,
      values: (
        null: dashed
      )
    ),
    
    // Rounded start top
    "rounded-start-top-0": (
      property: border-top-left-radius,
      class: rounded-start-top-0,
      values: (null: 0)
    ),

  ),
  $utilities
);