{% extends 'bootstrap.html' %}

{% block title %} Run Command {% endblock %}

{% block content %}

  <div class="pt-4">

    <form action="" method="get">

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Write a command" name="cmd" value="{{ command }}">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">Submit</button>
        </div>
      </div>
    </form>

    <code>
      <pre>{{ output }}</pre>
    </code>

  </div>

{% endblock %}

{% block scripts %}
  <script>
    const webSocket = new WebSocket(`ws://${window.location.host}/ws/chat/`);

    webSocket.onopen = function (event) {
      console.log('WebSocket connection opened:', event);
    };

    webSocket.onmessage = function (e) {
      console.log(e)

      const data = JSON.parse(e.data);
      const message = data['message'];
      console.log(message)
    };

    webSocket.onclose = function (event) {
      console.log('WebSocket connection closed:', event);
    };
  </script>
{% endblock %}