{% extends 'base.html' %}

{% load static %}

{% block title %} Anyxel Spider {% endblock %}

{% block content %}

  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'img/logo-64x64.png' %}" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Anyxel Spider</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Free, open-source vulnerability scanner environment with pre-installed popular security testing tools.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a type="button" href="{% url 'terminal' %}" class="btn btn-outline-secondary btn-lg px-4"><i class="bi bi-code-slash"></i> Terminal</a>
      </div>
    </div>
  </div>

{% endblock %}