{% extends 'base.html' %}
{% load static %}

{% block title %} Terminal {% endblock %}

{% block head %}
  <link href="{% static 'vendor/xtermjs/xterm.css' %}" rel="stylesheet">
  <link href="{% static 'css/xterm-spider.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <div class="terminal-container">
    <div class="terminal-header">
      <div class="buttons">
        <div class="button red"></div>
        <div class="button yellow"></div>
        <div class="button green"></div>
      </div>
    </div>
    <div class="inner">
      <div id="terminal"></div>
    </div>
  </div>

{% endblock %}

{% block scripts %}

  <script>
    const KEEP_ALIVE = true;
  </script>
  <script src="{% static 'vendor/xtermjs/xterm-5.3.0.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit@0.7.0/lib/xterm-addon-fit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/xterm-addon-web-links@0.8.0/lib/xterm-addon-web-links.min.js"></script>
  <script src="{% static 'js/webpty.js' %}"></script>

{% endblock %}