{% extends 'base.html' %}
{% load static %}

{% block title %} Terminal {% endblock %}

{% block head %}
  <link href="{% static 'vendor/xtermjs/xterm.css' %}" rel="stylesheet">
  <link href="{% static 'css/xterm-spider.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <div class="terminal-container">
    <div class="terminal-header">
      <div class="buttons">
        <div class="button red"></div>
        <div class="button yellow"></div>
        <div class="button green"></div>
      </div>
    </div>
    <div class="inner">
      <div id="terminal"></div>
    </div>
  </div>

{% endblock %}

{% block scripts %}

  {% include "component/xtermjs.html" %}

{% endblock %}