{% extends 'bootstrap.html' %}
{% load static %}

{% block title %} Tools {% endblock %}


{% block head %}
  <link href="{% static 'css/terminal.css' %}" rel="stylesheet">
  <link href="{% static 'css/code-highlight.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <div class="pt-4">

    {#  Form  #}
    <form id="formTerminal" x-data="TerminalForm()" action="{% url 'index' %}" @submit.prevent="submitForm">
      {% csrf_token %}
      <div class="input-group mb-3">
        <select name="name" class="form-select" style="max-width: 200px">
          <option value="">Select a tool</option>
          <option value="Sublist3r">Sublist3r</option>
          <option value="waymore">waymore</option>
          <option value="KnockMail">KnockMail</option>
        </select>
        <input type="text" name="cmd" class="form-control" placeholder="Write a command">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">Submit</button>
        </div>
      </div>
    </form>

    {#  Terminal  #}
    <div class="terminal-container">
      <div class="terminal-header">
        <div class="buttons">
          <div class="button red"></div>
          <div class="button yellow"></div>
          <div class="button green"></div>
        </div>
      </div>
      <pre class='code code-html'>
        <code id="terminal" class="terminal-content"></code>
      </pre>
    </div>

  </div>

{% endblock %}

{% block scripts %}

  <script>
    function TerminalForm() {
      return {
        submitForm() {
          let form = document.getElementById("formTerminal");
          fetch(form.action, {
            method: 'POST',
            body: new FormData(form),
          })
            .then(response => response.json())
            .then(data => {
              {#console.log(data);#}
            })
            .catch(error => console.error('Error:', error));
        },
      };
    }
  </script>

  <script>
    const webSocket = new WebSocket(`ws://${window.location.host}/ws/chat/`);
    webSocket.onopen = function (event) {
      {#console.log('WebSocket connection opened:', event);#}
    };
    webSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      const message = data['message'];
      {#console.log(message)#}

      document.getElementById("terminal").innerHTML += message + "<br/>";

      scrollDown();
    };
    webSocket.onclose = function (event) {
      console.log('WebSocket connection closed:', event);
    };

    // Scroll the div to the bottom
    function scrollDown() {
      let scrollingDiv = document.getElementById("terminal");
      
      scrollingDiv.scrollIntoView({ behavior: "smooth", block: "end", inline: "nearest" });
      scrollingDiv.scrollTop = scrollingDiv.scrollHeight;
    }
  </script>

{% endblock %}