{% extends 'base.html' %}
{% load static %}

{% block title %} Tools {% endblock %}

{% block head %}
  <link href="{% static 'css/../../static/vendor/xtermjs/xterm.css' %}" rel="stylesheet">
  <link href="{% static 'css/xterm-spider.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  {#  Form  #}
  <form id="formTerminal" x-data="TerminalForm()" action="{% url 'tools.index' %}" @submit.prevent="submitForm">
    {% csrf_token %}
    <div class="input-group mb-3">
      <select id="tool" name="name" class="form-select" style="max-width: 200px" required>
        <option value="">Select a tool</option>
        {% for tool in tools %}
          <option value="{{ tool.name }}">{{ tool.name }}</option>
        {% endfor %}
      </select>
      <input type="text" name="cmd" class="form-control" placeholder="Write a command" required>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Submit</button>
        <button class="btn btn-outline-secondary" type="button" x-on:click="reInstall()">Reinstall</button>
      </div>
    </div>
  </form>

  {#  Terminal  #}
  <div class="terminal-container">
    <div class="terminal-header">
      <div class="buttons">
        <div class="button red"></div>
        <div class="button yellow"></div>
        <div class="button green"></div>
      </div>
    </div>
    <div class="inner">
      <div id="terminal"></div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  {% include "component/xtermjs.html" %}
  <script>
    function TerminalForm() {
      return {
        submitForm() {
          let form = document.getElementById("formTerminal");
          fetch(form.action, {
            method: 'POST',
            body: new FormData(form),
          })
            .then(response => response.json())
            .then(data => {
              {#console.log(data);#}
            })
            .catch(error => console.error('Error:', error));
        },
      };
    }

    function reInstall() {
      let tool = document.getElementById("tool").value;
      if (tool) {
        let formData = new FormData();
        formData.append('command', 'reinstall');
        formData.append('tool', tool);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

        // Via Ajax
        fetch('{% url 'command.run' %}', {
          method: 'POST',
          body: formData,
        })
          .then(response => response.json())
          .then(data => {
            {#console.log(data);#}
          })
          .catch(error => console.error('Error:', error));
      } else {
        term.write('Please select a tool!');
        term.writeln('');
      }
    }
  </script>

{% endblock %}
