{% extends 'base.html' %}
{% load static %}

{% block title %} Tools {% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://unpkg.com/xterm@5.3.0/css/xterm.css"/>
  <script src="https://unpkg.com/xterm@5.3.0/lib/xterm.js"></script>

  <link href="{% static 'css/xterm-spider.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  {#  Form  #}
  <form id="formTerminal" x-data="TerminalForm()" action="{% url 'tools.index' %}" @submit.prevent="submitForm">
    {% csrf_token %}
    <div class="input-group mb-3">
      <select name="name" class="form-select" style="max-width: 200px">
        <option value="">Select a tool</option>
        <option value="Sublist3r">Sublist3r</option>
        <option value="waymore">waymore</option>
        <option value="XSStrike">XSStrike</option>
      </select>
      <input type="text" name="cmd" class="form-control" placeholder="Write a command">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Submit</button>
      </div>
    </div>
  </form>

  {#  Terminal  #}
  <div class="terminal-container">
    <div class="terminal-header">
      <div class="buttons">
        <div class="button red"></div>
        <div class="button yellow"></div>
        <div class="button green"></div>
      </div>
    </div>
    <div class="inner">
      <div id="terminal"></div>
    </div>
  </div>

{% endblock %}

{% block scripts %}

  {% include "component/xtermjs.html" %}
  <script>
    function TerminalForm() {
      return {
        submitForm() {
          let form = document.getElementById("formTerminal");
          fetch(form.action, {
            method: 'POST',
            body: new FormData(form),
          })
            .then(response => response.json())
            .then(data => {
              {#console.log(data);#}
            })
            .catch(error => console.error('Error:', error));
        },
      };
    }
  </script>

{% endblock %}
