{% extends 'base.html' %}
{% load static %}

{% block title %} Tools {% endblock %}

{% block head %}
  <link href="{% static 'vendor/xtermjs/xterm.css' %}" rel="stylesheet">
  <link href="{% static 'css/xterm-spider.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  {#  Form  #}
  <form id="formTerminal" x-data="TerminalForm()" action="{% url 'tools.index' %}" @submit.prevent="submitForm">
    {% csrf_token %}
    <div class="input-group mb-3">
      <select id="tool" name="name" class="form-select" style="max-width: 200px" required>
        <option value="">Select a tool</option>
        {% for tool in tools %}
          <option value="{{ tool.name }}">{{ tool.name }}</option>
        {% endfor %}
      </select>
      <input id="command" type="text" name="cmd" class="form-control" placeholder="Write a command" required>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Submit</button>
        <button class="btn btn-outline-secondary" type="button" x-on:click="openDir()">OpenDir</button>
        <button class="btn btn-outline-secondary" type="button" x-on:click="install()">Install</button>
      </div>
    </div>
  </form>

  {#  Terminal  #}
  <div class="terminal-container">
    <div class="terminal-header">
      <div class="buttons">
        <div class="button red"></div>
        <div class="button yellow"></div>
        <div class="button green"></div>
      </div>
    </div>
    <div class="inner">
      <div id="terminal"></div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  {#  {% include "component/xtermjs.html" %}#}

  <script>
    const KEEP_ALIVE = true;
  </script>
  <script src="{% static 'vendor/xtermjs/xterm-5.3.0.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit@0.7.0/lib/xterm-addon-fit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/xterm-addon-web-links@0.8.0/lib/xterm-addon-web-links.min.js"></script>
  <script src="{% static 'js/webpty.js' %}"></script>

  <script>
    function TerminalForm() {
      return {
        submitForm() {
          let type = 'command'
          let tool = document.getElementById("tool").value;
          let command = document.getElementById("command").value;

          runCommand(type, tool, command)
        },
      };
    }

    function openDir() {
      let type = 'openDir'
      let tool = document.getElementById("tool").value;

      runCommand(type, tool)
    }

    function install() {
      let type = 'install'
      let tool = document.getElementById("tool").value;

      runCommand(type, tool)
    }

    function runCommand(type, tool, command = null) {
      let formData = new FormData();
      formData.append('type', type);
      formData.append('tool', tool);
      formData.append('command', command);
      formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

      // Via Ajax
      fetch('{% url 'command.run' %}', {
        method: 'POST',
        body: formData,
      })
        .then(response => response.json())
        .then(data => {
          console.log(data);

          if (data.command) {
            wsPty.send(JSON.stringify({action: "input", data: {key: data.command + '\n'}}));
          }
        })
        .catch(error => console.error('Error:', error));

    }
  </script>

{% endblock %}
